<div class="flex">
<div class="flex-1 p-3">
  <h2>To do</h2>

  <div
    class="w-96"
    cdkDropList
    #todoList="cdkDropList"
    [cdkDropListData]="todo"
    [cdkDropListConnectedTo]="doneList"
    (cdkDropListDropped)="drop($event)"
  >
    <ul class="divide-y-2 divide-gray-100 shadow">
      <li class="p-3 bg-white rounded" *ngFor="let item of todo" cdkDrag>{{ item }}</li>
    </ul>
  </div>
</div>

<div class="flex-1 p-3">
  <h2>Done</h2>

  <div
    cdkDropList
    #doneList="cdkDropList"
    [cdkDropListData]="done"
    [cdkDropListConnectedTo]="todoList"
    class="w-96 "
    (cdkDropListDropped)="drop($event)"
  >
    <ul class="divide-y-2 divide-gray-100 shadow">
      <li class="p-3 bg-white rounded" *ngFor="let item of done" cdkDrag>{{ item }}</li>
    </ul>
  </div>
</div>
</div>
