<div class="flex flex-row block mt-2" >
  <div class="flex flex-col ">
    <ul class="flex flex-col">
      
      <li *ngFor="let item of routes">
        <a
          routerLink="/dashboard/{{item.path}}"
          class="
            flex flex-row
            items-center
            h-12
            transform
            hover:translate-x-2
            transition-transform
            ease-in
            duration-200
            text-gray-500

"
        >
          <span
            class="
              inline-flex
              items-center
              justify-center
              h-12
              w-12
              text-lg
              text-gray-400
            "
            ><mat-icon>{{item.icon}}</mat-icon></span
          >
          <span class="text-sm font-medium ">{{item.name}}</span>
        </a>
      </li>
      
    </ul>
  </div>
</div>


