<div [ngClass]="{ 'lightMode ': !checked, 'darkMode dark': checked }">
    <div class="bg-blue-500 dark:bg-yellow-500 text-gray-900 dark:text-gray-50">
      <mat-sidenav-container class="sidenav-container">
        <mat-sidenav
          #drawer
          class="sidenav bg-gray-100 dark:bg-gray-700"
          fixedInViewport
          attr.role="dialog"
          mode="over"
          [opened]="false"
        >
          <mat-toolbar class="logo bg-gray-300 dark:bg-gray-900">
            <span>JS Camp</span>
          </mat-toolbar>
          <mat-nav-list>
            <app-sidenav></app-sidenav>
          </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content class="sidenav-content min-h-screen" fixedInViewport>
          <mat-toolbar class="menu bg-gray-300 dark:bg-gray-900">
            <button
              mat-icon-button
              class="example-icon"
              aria-label="Example icon-button with menu icon"
              (click)="drawer.toggle(); isOpen = !isOpen"
            >
              <mat-icon>menu</mat-icon>
            </button>
            <span>JS Camp</span>
            <span class="spacer"></span>
          
            <button mat-icon-button class="example-icon" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>account_circle</mat-icon> 
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item (click)="changeTheme()">
                <mat-icon>{{ checked ? "brightness_5" : "brightness_4" }}</mat-icon> 
                {{ checked ? "Light" : "Dark" }}
              </button>
              <button mat-menu-item (click)="logout()">
                <mat-icon>logout</mat-icon> Logout
              </button>
            </mat-menu>
            
          </mat-toolbar>
          <!-- container -->
          <router-outlet></router-outlet>
        </mat-sidenav-content>
      </mat-sidenav-container>
    </div>
  </div>
  