.sidenav-container {
    height: 100%;
    background: url('../../../assets/img/m2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
   
  }
  .sidenav {
    width: 200px;
  }
  .mat-toolbar.logo {
    position: sticky;
    top: 0;
    z-index: 1;
  }

  
  